//NO MODIFICAR LAS LINEAS QUE TIENEN: NO
/*NO*/$W:1;
/*NO*/$mobile:1;
//---------------------
$w2:2400;//<---- ancho disenado
//---------------------
/*NO*/$escala:$W/$w2;
/*NO*/$escalaTxt:$escala;
/*NO*/@if $mobile==1{
/*NO*/	$escala:1920*0.46/$w2;
/*NO*/	$escalaTxt:1920*0.8/$w2;
/*NO*/}

body{
	font-family: Arial, Helvetica, sans-serif;
}
a,a:hover,a:link,a:visited{
	color: inherit !important;
}
input[type="checkbox"]{
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px*$escala;
}
.none{
	display:none;
}
.block{
	display:block;
}
label {
	cursor:pointer;
}
input:hover,select:hover,textarea:hover{
	border-color:#33557A;
}
input:focus,select:focus, textarea:focus{
	border-color: #8FBAED;
}
button,input,select, textarea{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px*$escalaTxt;
	padding: 7px*$escalaTxt;
	color: #000000;
	background: white;
	border: 2px solid #ccc;
	-webkit-border-radius: 10px*$escala;
	-moz-border-radius: 10px*$escala;
	border-radius: 10px*$escala;
}
button,input[type="button"],input[type="submit"]{
	cursor:pointer;
	background-color: #8FBAED;
	border: 2px solid #000;
}
.input_error{
	background-color: #fcc !important;
    border: red solid !important;
}
.clicToca::before,.clicToca:before{
	@if $mobile==1 {
		content: "toca ";
	}@else{
		content: "clic ";
	}
}
.ClicToca::before,.ClicToca:before{
	@if $mobile==1 {
		content: "Toca ";
	}@else{
		content: "Clic ";
	}
}
.txtNegrita{
	font-weight: bold;
}
.txtWhite{
	color: #FFF;
}
.txtGray{
	color: #444;
}
.txtBLue{
	color: #33557A;
}
.txtGrande2{
	font-size: 36px*$escalaTxt;
}
.txtMedio{
	font-size: 22px*$escalaTxt;
}
.txtPeque{
	font-size: 17px*$escalaTxt;
}
.txtCenter{
	text-align: center;
}
.barraSupBlue{
    background-color: #33557A;
    @if $mobile==1 {
    	height: 35px !important;
    	padding: 4px 0px;
    } @else {
    	height: 35px*$escala;
    	line-height: 35px*$escala;
    }
}
#hideVertical{
    @if $mobile==1 {
    	height: 100px !important;
    } @else {
    	height: 120px*$escala;
    }
}
.barraSupBlue > span{
	margin: 0px 15px*$escala;
}
#imgSupAvaParaMobile{
	max-width:100%;
	max-height:55px*$escala;
}
@if $mobile==1 {
	.noMobile{
		display: none;
	}
	.mobile_display-block{
		display: block;
	}
	@media only screen and (orientation: landscape) {
		.mobile_display-block{
			display: initial;
		}
	}
}@else{
	.noPC{
		display: none;
	}
}
