br
br
| A continuación podrá seleccionar la nota que cree estar oyendo:
br
br
br
button#iniciar Iniciar
br
br
br
button#nota_C.nota.none C
button#nota_D.nota.none D
button#nota_E.nota.none E
button#nota_F.nota.none F
button#nota_G.nota.none G
button#nota_A.nota.none A
button#nota_B.nota.none B
audio#audioC.none(preload="auto")
audio#audioD.none(preload="auto")
audio#audioE.none(preload="auto")
audio#audioF.none(preload="auto")
audio#audioG.none(preload="auto")
audio#audioA.none(preload="auto")
audio#audioB.none(preload="auto")