doctype html
html
	head
		title Cargando...
		base(href="/EXCLUDE/kvnSonido/")
		// link(rel="shortcut icon",type="image/png",href="recursos/favicon.ico")
		link.sass(rel="stylesheet",type="text/css",data-href="css/base",href="")
		|<?
		|	$urlsJS=array("../controller/jquery.js","../controller/Ajax_.REST.js","../controller/Mobile.js","../controller/MJ.js","../controller/EXE.js","../controller/reTry.js","../controller/sass.js","../controller/Sites.js","../controller/HashHistory_.js");
		|	$debug=false;
		|	if(!$debug)echo "<script>";foreach($urlsJS as $j){if($debug)echo "<script file='".$j."'>";include $j;if($debug)echo "</script>";}if(!$debug)echo "</script>";
		|?>
		script.
			Sites.rutas={
				index:{
					get: ""
				},
				notas:{
					get:"notas"
				}
			}
	body
		div#__site__